@import url('https://fonts.googleapis.com/css2?family=Martel+Sans&display=swap');
$bright-orange:#FF6734;
$dark-orange: #D35727;
$martel-font: 'Martel Sans', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@700&display=swap');

// для инпута поиска

body {
    margin: 0;
    padding: 0;
    width: 100vw;
}

.general-search-input{
    width: 30%;
    border: none;
    font-family: $martel-font;
}

.general-search-input::placeholder{
color: #1E1E1E;
}

.general-search-input:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}


.search-form{
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    width: 50vw;
    padding: 2%;
    border: 2px solid $bright-orange;
    box-shadow: 2px 2px 10px rgba(211, 87, 39, 0.2);
    border-radius: 30px;
    font-size: 3.86vw;
}

.general-search-icon{
background-color: #FFFFFF;
border: none;
text-align: center;
}

.search-icon-image{
    width: 5vw;
}

.container-hidden{
    display: none;
}


// для вывода общего поиска

.recipes-container{
    padding-top: 8%;
}

.recipe-card {
    margin-top: 5% ;
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid $dark-orange;
    font-size: 3.86vw;
    font-family: $martel-font;
}

.recipe-card__image{
    height: 100%;
}
.recipe-image{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.recipe-card__title{
    padding-left: 5%;
    padding-top: 4%;
    padding-bottom: 3%;
}


// для кнопки случайного рецепта

.randon-recipe-section{
    margin-top: 10%;
    height: max-content;
    border-top: 2px solid $dark-orange;
    border-bottom: 2px solid $dark-orange;
    font-family: $martel-font;
    font-size: 3.86vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5vh;
}

.random-recipe__button{
    border-radius: 30px;
    border: none;
    text-align: center;
    background-color: $dark-orange;
    color: #FFFFFF;
    padding: 6vw 11vw 6vw 11vw;
    margin-bottom: 9vw;
}

.randon-recipe-section__text{
    text-align: center;
    line-height: 6.7vw;
    padding: 12vw 12% 0 12%;
    overflow-wrap: break-word;
}

// раздел selections

.selections__header {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    text-align: center;
    color: #000;
    margin-top: 25px;
    margin-bottom: 25px;
}

.selections__items {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 60.5vw 60.5vw 60.5vw;
    gap: 12.8vw;
    padding-bottom: 12.8vw;
    border-bottom: 2px solid $dark-orange;

    font-family: 'Alegreya Sans', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    color: white;

}

.selections__popular-recipes {
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('/src/assets/images/selections/popular-recipes.png');
    display: flex;
    justify-content: center;
    align-items: center;
}

.selections__holiday-recipes {
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('/src/assets/images/selections/holiday-recipes.png');
    display: flex;
    justify-content: center;
    align-items: center;
}

.selections__healthy-food {
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('/src/assets/images/selections/healthy-food.png');
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-project__header {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    text-align: center;
    color: #000;
    margin-top: 25px;
}

.about-project__content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 12.8vw;
    border-bottom: 2px solid $dark-orange;
}

.about-project__text {
    width: 55vw;
    margin-top: 25px;
    padding-left: 25px;
    padding-right: 25px;

    font-family: Martel Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
}

.about-project__image {
    width: 43vw;
    object-fit: contain;
    padding-right: 5px;
}