.header-p1{
display: flex;
width: 100%;
height: 90px;
}
.main-p1{
display: flex;
width: 400px;
justify-content: center;
align-items: center;
}
.main-p1_content{
display: flex;
}
.main-p1_text{
position: absolute;
width: 175px;
height: 152px;
left: 14px;
top: 117px;
font-family: 'Alegreya';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 120%;
/* or 38px */
color: #000000;
}
.main-p1_image{
position: absolute;
width: 260px;
height: 247px;
left: 143px;
top: 1px;
background: url(foodly-food web page copy.png);
}
.search{
box-sizing: border-box;
position: absolute;
width: 256px;
height: 51px;
left: 114px;
top: 20px;
background: #FFFFFF;
border: 2px solid #D35727;
box-shadow: 2px 2px 10px rgba(211, 87, 39, 0.2);
border-radius: 30px;
box-sizing: border-box;
}
.icon_search{
padding-right: 105px;
padding-top: 11px;  
}
.footer-p1{
display: flex;
position: absolute;
width: 265px;
height: 40px;
left: 14px;
top: 290px;
font-family: 'Martel Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 130%;
/* or 18px */
color: #000000;
}
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
#menu__toggle {
opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
    left: 0 !important;
}
.menu__btn {
position: fixed;
top: 45px;
left: 20px;
width: 26px;
height: 26px;
cursor: pointer;
z-index: 10;
}
.twitter{
width: 60px;
padding-left: 10%;
padding-top: 50px;
}
.instagram{
width: 40px;
padding-left: 10px;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
display: block;
position: absolute;
width: 100%;
height: 2px;
background-color: #D35727;
transition-duration: .25s;
}
.menu__btn > span::before {
content: '';
top: -8px;
}
.menu__btn > span::after {
content: '';
top: 8px;
}
.menu__box {
display: block;
position: fixed;
top: 0;
left: -100%;
width: 300px;
height: 100%;
margin: 0;
padding: 80px 0;
list-style: none;
background-color: black;
box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
transition-duration: .25s;
z-index: 2;
}
.menu__item {
display: block;
padding: 12px 24px;
color:white;
font-family: 'Roboto', sans-serif;
font-size: 20px;
font-weight: 600;
text-decoration: none;
transition-duration: .25s;
}
.menu__item:hover {
    background-color:#D35727;
}
